aiohappyeyeballs==2.3.6
aiohttp==3.10.3
aiosignal==1.3.1
appdirs==1.4.4
asttokens==2.4.1
attrs==24.2.0
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cmeel==0.53.3
cmeel-assimp==5.3.1
cmeel-boost==1.83.0
cmeel-console-bridge==1.0.2.2
cmeel-octomap==1.9.8.2
cmeel-qhull==8.0.2.1
cmeel-tinyxml==2.6.2.3
cmeel-urdfdom==3.1.1.1
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
docker-pycreds==0.4.0
dropbox==12.0.2
eigenpy==3.5.1
executing==2.1.0
filelock==3.15.4
fonttools==4.53.1
freetype-py==2.4.0
frozenlist==1.4.1
fsspec==2024.6.1
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
hpp-fcl==2.4.4
idna==3.7
imageio==2.35.0
ipython==8.27.0
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
kiwisolver==1.4.5
lightning==2.2.1
lightning-utilities==0.11.6
lxml==5.3.0
lz4==4.3.3
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.7
meshcat==0.3.2
mi_hgnn @ file:///home/dbutterfield3/Research/state-estimation-gnn
mpmath==1.3.0
multidict==6.0.5
names==0.3.0
networkx==3.2.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.6.20
nvidia-nvtx-cu12==12.1.105
packaging==24.1
pandas==2.2.1
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
pin==2.7.0
ply==3.11
prompt_toolkit==3.0.47
protobuf==4.25.4
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycollada==0.8
pyglet==2.0.17
Pygments==2.18.0
pyngrok==7.2.0
PyOpenGL==3.1.7
pyparsing==3.1.2
pyribbit==0.1.46
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytorch-lightning==2.4.0
pytz==2024.1
PyYAML==6.0.2
pyzmq==26.2.0
requests==2.32.3
rosbags==0.9.22
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
sentry-sdk==2.13.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
soupsieve==2.6
stack-data==0.6.3
stone==3.3.1
sympy==1.13.2
threadpoolctl==3.5.0
torch==2.2.1
torch_geometric==2.5.0
torchmetrics==1.3.2
torchvision==0.17.1
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
trimesh==4.4.6
triton==2.2.0
typing_extensions==4.12.2
tzdata==2024.1
u-msgpack-python==2.8.0
urchin==0.0.27
urllib3==2.2.2
wandb==0.16.6
wcwidth==0.2.13
yarl==1.9.4
zstandard==0.23.0
